<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link type="icon" rel="stylesheet" href="Assets/icon.png" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div class="container header">
        <p class="logo"><a href="#">quickPound</a></p>
        <nav>
          <ul role="list">
            <li>
              <a href="/post"><i class="fas fa-home"></i></a>
            </li>
            <li>
              <a href="/profile"><i class="fas fa-user"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
