<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quickPound Login</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('./partials/navBar')  %>
    <div class="container ">
     
          <div class="section login-container">
            <h2>quickPound </h2>
            <p>Your favourite social app</p>
            <hr>
            <a href="/auth/google" class=""
              ><i class="fab fa-google"></i>Log in with Google</a
            >
          </div>
        </div>
      </div>
    </div>

    
    <script src="js/main.js"></script>
  </body>
</html>
