<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR 500</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <h1>Error: 500</h1>
    <p>Server Error</p>
    <script>
      M.Sidenav.init(document.querySelector(".sidenav"));
    </script>
  </body>
</html>
